
<script>
	  // This is called with the results from from FB.getLoginStatus().
	  function statusChangeCallback(response) {
		if (response.status === 'connected') {
		  // Logged into your app and Facebook.
		  testAPI();
		} else if (response.status === 'not_authorized') {
		  // The person is logged into Facebook, but not your app.
		  document.getElementById('status').innerHTML = 'Please log ' +
			'into this app.';
		} else {
		  // The person is not logged into Facebook, so we're not sure if
		  // they are logged into this app or not.
		  document.getElementById('status').innerHTML = 'Please log ' +
			'into Facebook.';
		}
	  }

	  // This function is called when someone finishes with the Login
	  // Button.  See the onlogin handler attached to it in the sample
	  // code below.
	  function checkLoginState() {
		FB.getLoginStatus(function(response) {
		  statusChangeCallback(response);
		});
	  }

	  window.fbAsyncInit = function() {
	  FB.init({
		status: true,
		appId      : '777319725678638',
		//appId: '777319725678638',
		cookie     : true,  // enable cookies to allow the server to access
							// the session
		xfbml      : true,  // parse social plugins on this page
		version    : 'v2.1' // use version 2.1
	  });
	  FB.getLoginStatus(function(response) {
		statusChangeCallback(response);
	  });

	  };

	  // Load the SDK asynchronously
	  (function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));

	  // Here we run a very simple test of the Graph API after login is
	  // successful.  See statusChangeCallback() for when this call is made.
	  function testAPI() {

		FB.api("/me", function(response) {
			console.log(response);
			$('#username').html(response.name);
		});

		FB.api("/me/picture", function(response) {
			console.log(response);
			$('#avatar').attr('src', response.data.url);
		});

	  }

	$( document ).ready(function() {
		checkLoginState();
	});

</script>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>My Facebook Pocket</title>
		<script src="/static/javascript/jquery-1.10.2.min.js"></script>
		<script src="/static/javascript/bootstrap.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		{% block head %}{% endblock %}
	</head>
    <body>
	 <footer class="footer" style ="padding:7px; padding-left:40px;padding-right:40px;height:55px;	width:100%; background-color:#E0E0E0 ;  top:0;  position:fixed">
		<img id="avatar" src = "/static/image/avarta.jpg" width="40px">
		 <a href = "/"> <font size='3e'><b><span id="username">Ly Phan</span></b></font></a>
		<a class="pull-right">Log out</a>
		<img class = "pull-right" src = "/static/image/present.png" height="40px">
	</footer>
		<div style = "padding:30px">
			<br/><br/><br/>
			{% block content %}{% endblock %}
		</div>
    <footer class="footer" style ="padding:3px; height:25px;padding-left:40px;	width:100%; background-color:#E0E0E0 ;  bottom:0;  position:fixed">
		Facebook Pocket - Facebook Hackathon 2015
	</footer>
	</body>
	
</html>
