<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Facebook Pocket</title>
		<script src="/static/javascript/jquery-1.10.2.min.js"></script>
		<script src="/static/javascript/bootstrap.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.css">

	</head>
    <body>
		<div style = "padding:30px">
			{% block content %}{% endblock %}
		</div>
    <footer class="footer" style ="padding:3px; height:25px;	width:100%; background-color:#E0E0E0 ;  bottom:0;  position:fixed">
		Facebook Pocket - Facebook Hackathon 2015
	</footer>
	</body>
	
</html>
