{% extends 'base.html' %}
{% block content %}
<form class = 'form-horizontal'>
	<div class = 'form-group'>
		<label for='listName' class = 'col-sm-2 control-label'>
			List name
		</label>
		<div class="col-sm-10">
			<input class="form-control" id="listName" placeholder="List name">
		</div>		
	</div>
	<div class = 'form-group'>
		<label for='des' class = 'col-sm-2 control-label'>
			Description
		</label>
		<div class = 'col-sm-10'>
			<textarea class="form-control" rows="3"></textarea>
		</div>
	</div>
	<div class = 'form-group'>
		<div class = "col-sm-2 col-sm-offset-2">
			<button type="submit" class="btn btn-primary">Save</button>			
		</div>
	</div>
</form>
{% endblock %}