{% extends 'base.html' %}
{% block content %}

<a href = "/"><button class="btn btn-xs"><< Back to collection</button></a><br/><br/>
<h2><img width ="20px" src= {%if list.status == 'public'%} "/static/image/public.png"{% else %} "/static/image/private.png" {% endif %}/> Create New List</h2>
<div class="thumbnail">
<form  action = '/update/{{list.id}}/' method = 'post'>
{% csrf_token %}
	<div class = 'form-group' style="margin-bottom:20px">
		<label for='listName' class = 'col-sm-2 control-label'>
			List name
		</label>
		<div class="col-sm-10">
			<input class="form-control" id="listName" name = 'listName' value = "{{list.title}}" placeholder="Give your list a name">
		</div>		
	</div>
	<br/><br/>
	<div class = 'form-group'>
		<label for='des' class = 'col-sm-2 control-label'>
			Description
		</label>
		<div class = 'col-sm-10'>
			<textarea class="form-control" rows="3"  name = 'des' placeholder="Add some description">{{list.description}}</textarea>
		</div>
	</div>
	<br/><br/><br/><br/>
	<div class = 'form-group'>
		<label for='des' class = 'col-sm-2 control-label'>
			Status
		</label>
		<div class = 'col-sm-10'>
			<select class="form-control" name="status">
				<option value = "public" {%if list.status  == 'public'%}selected{% endif %}>Public</option>
				<option value = "private"{%if list.status  == 'private'%}selected{% endif %}>Private</option>
			</select>
		</div>
	</div>
	<br/><br/>
	<div class = 'form-group'>
		<div class = "col-sm-2 col-sm-offset-2">
			<button type="submit" class="btn btn-primary">Save</button>			
		</div>
	</div>
</form>
<br><br>
</div>
{% endblock %}
