{% extends 'base.html' %}
{% block content %}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=778008372291971&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=778008372291971&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<script>
	  // This is called with the results from from FB.getLoginStatus().
	  function statusChangeCallback(response) {
		if (response.status === 'connected') {
		  // Logged into your app and Facebook.
		  testAPI();
		} else if (response.status === 'not_authorized') {
		  // The person is logged into Facebook, but not your app.
		  document.getElementById('status').innerHTML = 'Please log ' +
			'into this app.';
		} else {
		  // The person is not logged into Facebook, so we're not sure if
		  // they are logged into this app or not.
		  document.getElementById('status').innerHTML = 'Please log ' +
			'into Facebook.';
		}
	  }

	  // This function is called when someone finishes with the Login
	  // Button.  See the onlogin handler attached to it in the sample
	  // code below.
	  function checkLoginState() {
		FB.getLoginStatus(function(response) {
		  statusChangeCallback(response);
		});
	  }

	  window.fbAsyncInit = function() {
	  FB.init({
		appId      : '777319725678638',
		//appId: '777319725678638',
		cookie     : true,  // enable cookies to allow the server to access
							// the session
		xfbml      : true,  // parse social plugins on this page
		version    : 'v2.1' // use version 2.1
	  });
	  FB.getLoginStatus(function(response) {
		statusChangeCallback(response);
	  });

	  };

	  // Load the SDK asynchronously
	  (function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));

	  // Here we run a very simple test of the Graph API after login is
	  // successful.  See statusChangeCallback() for when this call is made.
	  function testAPI() {
		for (i in listId){
			FB.api("/"+listId[i], function(response) {
				console.log(response);
				update(response)
			});
		}
		FB.api("/me/picture", function(response) {
		  document.getElementById('avatar').innerHTML =
		  'Avatart url: '+response.data.url;
		});
	  }

	function update(resp) {
		item = {
			'id': resp.id,
			'profileimg': resp.img,
			'created_time': resp.created_time,
			'from': resp.from.name,
			'icon_src': resp.icon,
			'link': resp.link,
			'picture_src': resp.picture,
			'description': resp.description
		};
		var keys = Object.keys(item);
		for(var i in keys) {
			if (item[keys[i]] !== undefined) {
				str = '#' + item['id'] + '_' + keys[i];
				console.log(str);
				$(str).html(item[keys[i]]);
			}
		}
	}

	$( document ).ready(function() {
		listId = [];
		{% for item in items %}
			listId.push('{{item.link}}');
		{% endfor %}
		console.log(listId);
		checkLoginState();
	});

</script>


	<a href = "/"><button class="btn btn-xs"><< Back to list</button></a><br/><br/>
	<h2><img width ="20px" src= {%if list.status == 'public'%} "/static/image/public.png"{% else %} "/static/image/private.png" {% endif %}/> {{list.title}} </h2>
	<small > Created at {{list.created_at}} </small>
	<br/><br/>
	{{mes|safe}}
	<div class = "thumbnail">
		{% if items|length == 0 %}
			<div class = "alert alert-warning">This list is empty</div>
		{% endif  %}
		<table width="100%" border="1">
		{% for item in items%}
			<tr>
			<td id="{{item.link}}" style="height: 100px; overflow: hidden; margin-bottom: 20px">
				<img id="{{item.link}_profileimg" src="" height="100" width="100" align="left" style="margin-right: 5px">
				<p><span id="{{item.link}}_from">from</span> by <span id="{{item.link}}_created_time" style="font-size: 11px">created_time</span></p>
				<p id="{{item.link}}_description">description</p>
				<!--<img id="{{item.link}}_icon_src" src="" height="100" width="100" align="left" style="margin-right: 5px">-->
				<p id="{{item.link}}_link">link</p>

			</td>
			<td style="text-align: center"><a href ="/deleteItem/{{item.id}}/{{list.id}}/"><button class="btn btn-xs">x</button></a></td>
			</tr>
		{% endfor %}
		</table>

	<!-- Next/Prev page links  -->
		<div >
			{% if items.object_list and items.paginator.num_pages > 1 %}
			<div class="pagination" >
				<span class="step-links">
					{% if items.has_previous %}
						<a href= "?page={{ items.previous_page_number }}">&lt;&lt; </a>
					{% endif %}

					<span class="current">
					&nbsp;Page {{ items.number }} of {{ items.paginator.num_pages }}
					</span>

					{% if items.has_next %}
						<a href="?page={{ items.next_page_number }}"> &gt;&gt;</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
		
		<small class="pull-right"><a href = "/update/{{list.id}}" >Update </a> | <a href = "/deleteList/{{list.id}}" > Delete this list permanently</a></small>
		<br/>		
		</div>
	</div>	
	<br/>	
	<div class="fb-like" data-href="http://172.18.146.23:8000/view/{{list.id}}/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>


	<div class="fb-like" data-href="https://cymn1.pythonanywhere.com/view/{{list.id}}/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
	<br>
	<div class="fb-comments" data-href="https://cymn1.pythonanywhere.com/view/{{list.id}}/" data-width="1010" data-numposts="5" data-colorscheme="light"></div>
{% endblock %}
